@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


.Header {
    position: fixed;
    left: 0;
    top: 0;
    width           : 100%;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
}

.Menu {
    width          : 80%;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 8px;
}

.List {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

a:link {
    
    
    text-decoration: none;
    font-family    : Inter;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 13px;
    line-height    : 16px;
    text-align     : center;
    letter-spacing : -0.003em;
    color          : #3A3A3C;
    margin: 8px;
    
}

.FaqsLink {
    cursor: pointer;
    display       : flex;
    flex-direction: row;
    align-items   : center;
    justify-content: center;
    padding       : 8px 16px;
  
    border-radius : 12px;
}

.LoginBtn {
    cursor: pointer;
    display       : flex;
    flex-direction: row;
    align-items   : center;
    justify-content: center;
    padding       : 8px 12px;
    background    : #00FF9D;
    border-radius : 12px;
    color: #3A3A3C;
    
}

.SignUpBtn {
    cursor: pointer;
    display       : flex;
    flex-direction: row;
    align-items   : center;
    justify-content: center;
    padding       : 8px 12px;
    background    : #F2F2F7;
    border-radius : 12px;
    color: #3A3A3C;

}
.List {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
   
}
